:root {
    --amarillo: #FEE600;
}

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.header {
    height: 50px;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    justify-content: space-between;
}
.navbar{
    display: flex;
    justify-content: center;
}

.nav-list {
    display: flex;
    gap: 40px;
    align-items: center;
    list-style-type: none;
    font-family: 'REM', sans-serif;
    margin: 10px;
}


.navbar-link {
    text-decoration: none;
    color: white;
}

.cart{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    top: 60px;
    right: 0;
    width: 250px;
    visibility: hidden;
}
.logo {
    height: 50px;
    width: 50px;
}
.cerrar-cart {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
#abrir {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}
.open {
    display: block;
}


.btn-cart img {
    height: 30px;
    width: 30px;
}
.btn-b-d{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.btn-b-d p{
    margin: 0;
    border-radius: 20px;
    padding: 3px 10px;
    margin: 10px;
    border: none;
    font-size: 20px;
}
.cart-shop {
    background-color: white;
    padding: 5px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 50px;
    right: 5px;
    width: 50%;
    z-index: 3;
    border: solid black;
    border-top: none;
}


.btn-cart {
    border: none;
    background-color: black;
    margin:  10px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 24px;
    cursor: pointer;
    margin-left: 20px;
}
.item{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    width: 100%;
}
.item p{
    display: flex;
    align-items: center;
    margin: 0;
}

.cart-item{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    gap: 10px;
    flex-direction: column;
}
.cart-total span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.eliminar{
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: white;
    border-radius: 50px;
    margin: 10px;
}
.agregar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.agregar button{
    border: none;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.cart-item img{
    height: 40px;
    width: 40px;
}
.cart h2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Cabin', sans-serif;
}
.cart-total{
    display: flex;
    justify-content: space-between;
    background-color: rgb(238, 238, 238);
    border-radius: 20px;
    padding: 5px 10px;
    margin: 10px;
}
.cart-total p{
    margin: 0;
}

.btnc{
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-buy{
    border-radius: 20px;
    padding: 3px 10px;
    margin: 10px;
    background-color: var(--amarillo);
    border: none;
}
.btn-delete{
    border-radius: 20px;
    padding: 3px 10px;
    margin: 10px;
    background-color: var(--amarillo);
    border: none;
}
.btn-user {
    display: flex;
    align-items: center;
    gap: 2px;
    text-decoration: none;
    height: 35px;
    width: 160px;
    background-color: var(--amarillo);
    color: black;
    border-radius: 25px;
    padding: 6px;
    font-size: 18px;
}


.btn-user img {
    height: 20px;
    width: 20px;
    margin: 5px;
}

body {
    width: 100%;
    height: 100vh;
    background-image: url(imagenes\ javascript/nuevo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info-pag {
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    font-family: 'REM', sans-serif;
}

.info-pag h1 {
    font-size: 160px;
    color: var(--amarillo);
    font-family: 'Cabin', sans-serif;
}

.info-pag p {
    font-size: 25px;
    padding: 20px 200px;
    color: white;
    line-height: 35px;
}

.info-pag button {
    background-color: black;
    color: white;
    margin: 10px;
    padding: 5px 15px;
    border-radius: 15px;
    border: none;
    font-size: 18px;
    font-family: 'REM', sans-serif;
}

.sobre-nosotros {
    display: flex;

    background-color: var(--amarillo);
}

.sobre-nosotros-info {
    display: flex;
    flex-direction: column;
    margin: 120px 60px;

}

.sobre-nosotros-info h2 {
    font-family: 'Cabin', sans-serif;
    font-size: 80px;
}

.sobre-nosotros-info p {
    font-size: 20px;
    font-family: 'REM', sans-serif;
    margin: 20px 0;
    line-height: 35px;
}

.sn-img img {
    height: 300px;
    width: 500px;
    margin: 30px;
}

.tienda {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 100px 0;
    text-decoration: none;
}

.tienda h3 {
    font-size: 50px;
    font-family: 'Cabin', sans-serif;
    margin: 20px;
}

.categorias {
    display: flex;
    align-items: center;
    gap: 20px;
    font-family: 'REM', sans-serif;
    list-style-type: none;
    color: black;
    padding: 0;
    margin: 0;
}

.categoria {
    border: none;
    background-color: white;
}

.card-productos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 80px;
    margin: 40px;
}

.card:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card-productos img {
    height: 200px;
    width: 200px;
    border-radius: 0 30px 0 30px;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 250px;
    background-color: var(--amarillo);
    border-radius: 0 30px 0 30px;

}

.info-card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-card h3 {
    font-size: 20px;
}

.info-card p {
    margin: 10px;
    font-family: 'Cabin', sans-serif;
}

.info-card button {
    padding: 10px 10px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    color: white;
    background-color: black;
}

.productos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn-vm {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 20px;
    border: none;
    color: white;
    background-color: black;
}

.contacto {
    display: flex;
    align-items: center;
    background-color: var(--amarillo);
    flex-direction: column;
}

.contacto-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 100px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
}

.contacto-info h3 {
    font-size: 45px;
    margin: 40px;
    font-family: 'Cabin', sans-serif;
}

.contacto-info ul {
    list-style-type: none;
    display: flex;
    align-items: baseline;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    font-size: 20px;
    font-family: 'Cabin', sans-serif;
}

.contacto-info li img {
    height: 30px;
    width: 30px;
    margin: 10px;
}

.contacto-info li {
    display: flex;
    align-items: center;
}

.redes {
    display: flex;
    align-items: center;
    justify-content: center;
}

.redes li {
    padding: 10px;
    list-style-type: none;
}

.redes li img {
    height: 50px;
    width: 50px;
}

footer {
    background-color: black;
    color: white;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 200px;
    font-family: 'Times New Roman', Times, serif;
    line-height: 20px;
}

.abrir-menu,
.cerrar-menu {
    display: none;
}

#contactForm {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: 5px;
}

#contactForm button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    height: 35px;
    width: 100px;
    background-color: black;
    color: white;
    border-radius: 25px;
    padding: 6px;
    font-size: 15px;
    border: none;
}

.container {
    margin: 0px;
    padding: 20px;
}

.container h2 {
    font-size: 25px;
}

input::placeholder,
textarea::placeholder {
    text-align: left;
    text-indent: 5px;
}

input {
    width: 100%;
    height: 40px;
}

textarea {
    width: 500px;
    margin-bottom: 10px;
}

.error {
    color: rgb(0, 0, 0);
    font-size: 15px;
}

#success {
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-top: 10px;
}

.hidden {
    display: none;
}



.agregar{
    display: flex;
    align-items: center;
}



@media screen and (max-width: 992px) {
    .cart{
        margin-top: 10px;
    }
    .abrir-menu {
        margin-right: 20px;
        display: block;
        border: none;
        background-color: black;
    }

    .abrir-menu img {
        width: 50px;
        height: 50px;
    }

    .cerrar-menu {
        display: block;
        border: none;
        background-color: black;
    }

    .cerrar-menu img {
        width: 50px;
        height: 50px;
    }

    .nav {
        position: absolute;
        top: 0;
        right: 0;
        background-color: black;
        padding: 40px;
        border-radius: 0 0 0 50px;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
        display: flex;
        align-items: end;
        flex-direction: column;
        visibility: hidden;
    }

    

    .nav-list {
        flex-direction: column;
        align-items: end;

    }

    .info-pag {
        padding: 60px;
        height: 800px;
    }

    .info-pag h1 {
        font-size: 100px;
        margin-top: 30px;
    }

    .info-pag p {
        padding: 20px 50px;
        font-size: 15px;
        line-height: 30px;
    }

    .info-pag button {
        font-size: 15px;
        margin: 0;
    }

    .contacto-info {
        margin-left: 0;
    }


    .contacto-img {
        height: 500px;
        width: 360px;
    }

    .sobre-nosotros {
        margin: 0;
    }

    .sn-img img {
        height: 250px;
        width: 400px;
    }

    .sobre-nosotros-info {
        margin: 40px 0 0 20px;
    }

    .sobre-nosotros-info h2 {
        font-size: 40px;
    }

    .tienda h3 {
        font-size: 30px;
    }

    .card {
        height: 300px;
        width: 180px;
    }

    .card:hover {
        box-shadow: none;
    }

    .card-productos img {
        height: 100px;
        width: 100px;
    }

    .info-card h3 {
        font-size: 14px;
    }

    .info-card p {
        margin: 5px;
    }

    .info-card button {
        padding: 10px;
        font-size: 10px;
    }

    article button {
        padding: 10px 20px;
        font-size: 10px;
    }

    .contacto-info h3 {
        font-size: 40px;
        margin: 20px;
    }

    .contacto-info ul {
        gap: 20px;
        font-size: 20px;
    }

    .contacto {
        justify-content: space-evenly;
    }

    .redes li img {
        height: 50px;
        width: 50px;
    }

    footer {
        font-size: 10px;
        padding: 10px 20px;
        line-height: 10px;
    }

    textarea {
        width: 260px;
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        height: 20px;
    }

    #contactForm {
        font-size: 12px;
    }
    .cart-shop{
        width: 100%;
        margin: 0;
    }

}

@media screen and (max-width: 700px) {
    .card-productos {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px
    }

    .card {
        height: 200px;
        width: 160px;
    }

    .info-card h3 {
        font-size: 10px;
        margin: 10px;
    }

    .info-card p {
        margin: 3px;
    }

    .info-card button {
        padding: 5px;
        font-size: 7px;
        margin-top: 0;
    }

    .card-productos img {
        padding: 5px;
    }

    .sn-img img {
        height: 125px;
        width: 200px;
        margin: 20px 0;
    }

    .sn-img {
        margin: 70px 10px;
    }

    .sobre-nosotros-info {
        margin: 20px 0 0 10px;
    }

    .sobre-nosotros-info h2 {
        font-size: 24px;
    }

    .sobre-nosotros-info p {
        font-size: 12px;
        line-height: 17px;
        margin: 0;
    }

    .tienda-h3 {
        font-size: 25px;
    }

    .categoria {
        font-size: 11px;
    }

    .categorias {
        gap: 0;
    }

    .categorias button {
        padding: 0 10px;
        color: black;
    }

    .info-pag {
        padding: 60px 0 0 0;
        height: 700px;
    }

    .info-pag h1 {
        font-size: 60px;
    }

    .info-pag p {
        padding: 20px 30px;
        font-size: 15px;
        line-height: 25px;
    }

    .redes li {
        padding: 20px 0;
    }

    .contacto {
        padding: 30px;
    }

    .contacto-info {
        flex-direction: column;
        gap: 20px;
    }

    .contacto-info ul {
        gap: 5px;
        font-size: 15px;
    }

    .contacto-info h3 {
        font-size: 30px;
        margin: 10px;
    }

    textarea {
        width: 300px;
        margin-bottom: 10px;
    }

    input {
        width: 100%;
        height: 20px;
    }

    #contactForm {
        font-size: 15px;
    }
    .cart-shop{
        width: 100%;
    }
    .item{
        gap: 0;
    }
}